<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

  {% if include.title %}
  <title>{{ include.title }}</title>
  {% else %}
  <title>HU UI Track</title>
  {% endif %}

  <meta name="description" content="MoM makes taking notes during Meetings easy. Helps to make the processes and following up easy and gives more time to focus on the main Agenda">
  <meta name="author" content="">
  
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% css vendor %}
  {% css main %}
  {% js main %}
</head>