//Ovverride your custom style here
$enable-flex: true !default;

//Override the bootstrap typography display heading style
$headings-line-height: 1 !default;

$display1-size: 6em !default;
$display2-size: 5.5em !default;
$display3-size: 4.5em !default;
$display4-size: 3.5em !default;

$display1-weight: 500 !default;
$display2-weight: 400 !default;
$display3-weight: 300 !default;
$display4-weight: 200 !default;
$display-line-height: $headings-line-height !default;

//Define your color variable here
$grey-color: #7e7e7e;
$black-light-color: #232323;
$border-color: #4d4d50;
$grey-lighter-color: #ddd;
$black: #000;

$color-white: #ffffff;
$color-footer: #212a37;
$color-footer-bottom: #1d2531;
$font-footer-elements: #8e9aac;
$font-footer-bottom: #3e4959;
$color-footer-social-media:  #2c3748;
$color-gray: #212a37;
$color-form-background: #f4f7f8;
$color-button: #1ea2ff;
$color-testimonials: #273140;
$color-font-span-testimonials: #f27f21;