$color-gray:#34495e ;
$color-white: #ffffff ;

* {
  box-sizing: border-box;
}

header {
  padding: 1em;
}

.navbar {
  width: 80%;
  .toggle, .logo {
    display: inline-block;
  }
  .link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: $color-white;
    &:hover {
      background: $color-gray;
    }
  }
  .logo {
    width: 10em;
    text-align: center;
    padding: 1em;
    a {
      margin: 10px;
      font-size: 24px;
      color: $color-white;
    }
  }
  .toggle {
    padding: 1em;
    color: $color-white;
  }
}

@media (min-width: 600px) {
    .navbar {
      display: flex;
      flex-direction : row;
      justify-content: space-between;
      .left,.right {
        display: flex;
        flex: 1;
      }
      .link {
          width: auto;
      }
      .right {
        justify-content: flex-end;
      }
      .toggle {
        display: none;
      }
    }
}

.navbar {
  div {
    display: none;
    @media (min-width: 600px) {
      display: flex;
    }
  }
}

@media (max-width: 600px) {
.navbar {
    display: flex;
    flex-direction : row;
    justify-content: space-between;

    .logo{
      a{
      font-size: 22px;
      }
    }
  }
.navbar.active {
  .toggle {
    color: $color-white;
  }
  div {
    display: block;
    }
  }
}